/* style.css (global) */
/* Mantener estructura modular en src/css/ */
@import url("../components/content/content.css");

body {
  background-color: #e8f5e9;
  color: #1b5e20;
  font-family: "Segoe UI", sans-serif;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer-section {
  max-width: 250px;
  margin: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
}
hr{
border: 1px solid #fff ;
}
