/* style.css (global) */
/* Mantener estructura modular en src/css/ */
@import url("../components/content/content.css");

body {
  background-color: #e8f5e9;
  color: #1b5e20;
  font-family: "Segoe UI", sans-serif;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
